
.debug{
  border: 1px solid black;

}

img{
  width: 100%;
}

body{
  font-family: 'Helvetica Neue', sans-serif;
}

section{
  padding: 60px 0;
}

.my-bg{
  background-color: #2c3e50 !important;
}

.dp-container{
  width: 60%;
  margin: 0 auto;
}

.star::before,
.star::after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  margin: 0 20px;
}

.star i{
  font-size: 30px;
  vertical-align: middle;
  margin: 20px 0;
}

.black .star::before,
.black .star::after {
  background-color: black;
}

/* JUMBOTRON */
#jumbo {
  background-color: #1abc9c;
}

#jumbo img{
  height: 250px;
}


/* PORTFOLIO */

#portfolio .dp-card {
  position: relative;
  cursor: pointer;
}

#portfolio .dp-card i {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 60px;
  transform: translate(-50%, -50%);
}

#portfolio .dp-card:hover i{
  display: block;
}


/* ABOUT */
#about {
  background-color: #1abc9c;
  /* height: 500px; */
}

#about .button{
  width: 140px;
  border: 1px solid white;
}


#contact .my-form input, #contact .my-form textarea{
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  border-radius: 0;
}

#contact .my-form input:focus, 
#contact .my-form textarea:focus{
  box-shadow: none;
}

#contact .my-form input::placeholder,
#contact .my-form textarea::placeholder{
  color: #5f6c79;
}

.my-button{
  background-color: #1abc9c;
  border: none;
}

.my-button:hover{
  background-color: #13836c;
}


/* footer */

footer{
  color: white;
}

.footer-top{
  background-color: #3a546d;
}

.footer-top i{
  border: 1px solid white;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.5rem;
  margin: 0 5px;
}

.footer-bottom{
  background-color: #2c3e50;
}
